/* CSS Variables */
:root {
  --bg-image: url("/assets/img/background.jpeg");
  --box-shadow: 1px 2px 5px 1px #08080823;
  --max-width: 900px;
  --background-color: #000;
  --brand-gradient-start: #acb6e5;
  --brand-gradient-end: #86fde8;
  --opaque-dark: #3a3a3ac6;
  --opaque-light: #dadadac6;
  --title-color: #4490db;
  --border:#007bff;
  --primary: #0d1321;
  --on-primary: #748cab;
  --secondary: #1d2d44;
  --on-secondary: #f0ebd8;
  --dark-secondary: #0056b3;
  --tertiary: #497daa23;
}

/*Reusable Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
}

ul {
  list-style: none;
  display: flex;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  margin: 2px 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--on-primary);
}
.btn-primary:hover {
  background-color: var(--on-primary);
  color: var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.btn-secondary:hover {
  background-color: var(--dark-secondary);
}

.card {
  background-color: var(--tertiary);
  padding: 2px;
  border-radius: 10px;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  transition: 0.3s linear;
}
.card:hover {
  transform: translateY(-5px);
}
.card-picture {
  display: inline-block;
  border-radius: inherit;
  width: inherit;
}
.card-picture img {
  width: inherit;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  object-fit: cover;
}
.card-body {
  padding: 20px;
  color: var(--on-secondary);
  text-wrap-style: pretty;
}
.card-title {
  font-size: 1.8rem;
  color: var(--on-primary);
  margin-bottom: 15px;
}
.card-description {
  margin-bottom: 20px;
}
.card-sub {
  margin-bottom: 10px;
}

/* Main Styles */
.container {
  position: relative;
  max-width: var(--max-width);
  margin-inline: auto;
  border-inline: 5px solid var(--primary);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 5px 15px;
  background: var(--primary);
  backdrop-filter: blur(0px) saturate(0%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
}
nav .nav-container {
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
nav .brand {
  font-size: 2rem;
  background-image: linear-gradient(
    to right,
    var(--brand-gradient-start),
    var(--brand-gradient-end)
  );
  background-clip: text;
  color: transparent;
}

header {
}

main {
  max-width: var(--max-width);
}

section {
  max-width: 600px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  margin: 200px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}
.section-title {
  font-size: 2rem;
  color: var(--title-color);
  border-bottom: 2px solid var(--border);
  padding-bottom: 10px;
  margin-bottom: 30px;
}
section article{
  padding: 10px;
}

footer {
  width: 100%;
  padding: 5px;
  background-color: var(--primary);
  color: var(--on-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .contact-details li{
  margin: 0 10px;
}
footer .contact-details svg {
  height: 40px;
  fill: var(--on-primary);
  transition: 0.2s linear;
}
footer .contact-details svg:hover {
  fill: var(--on-secondary);
  transform: scale(1.1);
}

/* About Styles */
#about {
  text-align: left;
}
#about .about-header{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about .about-img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 2px solid var(--on-primary);
}
#about .about-img img {
  object-fit: cover;
  border-radius: 10%;
  height: 100%;
}
#about .about-clearfix {
  clear: left;
}
#about .about-body{
 padding: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    max-width: 90%;
  }

  section {
    margin: 20px 0;
  }
  .section-title {
    font-size: 1.8rem;
  }

  #about .about-header{
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
